@model MvcCoreChatApp.Models.RegisterViewModel



<form method="post">
    <div class="mb-3">
        <label for="productTitleInput" class="form-label">Name</label>
        <input asp-for=Name class="form-control" id="productTitleInput" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="productTitleInput" class="form-label">UserName</label>
        <input asp-for=UserName class="form-control" id="productTitleInput" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3">
        <label for="productTitleInput" class="form-label">Password</label>
        <input asp-for=Password class="form-control" id="productTitleInput" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3">
        <label for="productTitleInput" class="form-label">ImageUrl</label>
        <input asp-for=ImageUrl class="form-control" id="productTitleInput" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>












    <button type="submit" class="btn btn-primary">Submit</button>
</form>


