

.message-bubble {
    background-color: cadetblue;
    border-radius: 3px 10px 10px 10px;
    padding: 10px;
    margin: 5px 0;
    max-width: 80%;
    word-wrap: break-word;


}

.profile-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.message-container{

    width:200px;
    display:flex;
  
  
    

    align-items:center;
}


.message-container-right {
  
    align-self: flex-end;
}
.message-container-left {
    align-self: flex-start;
}
.message-bubble-left {

    background-color: #f2f2f2;
     /* Mesaj baloncuklarını sola hizalamak için */
}

.message-bubble-right {

    background-color: #0084ff;
  
    color: white;
    /* Mesaj baloncuklarını sağa hizalamak için */
}


/* Chrome, Safari, Edge, Opera */
div::-webkit-scrollbar {
    width: 5px; /* scroll bar genişliği */
    height: 5px; /* scroll bar yüksekliği */
}

/* Thumb (yani kaydırma kolu) */
div::-webkit-scrollbar-thumb {
    background: #888; /* scroll bar rengi */
    border-radius: 5px; /* scroll bar köşe yuvarlanma derecesi */
}

/* Track (yani arka plan) */
div::-webkit-scrollbar-track {
    background: #f1f1f1; /* scroll bar arka plan rengi */
}
